
.Form_title {
    text-align: center;
    margin-top: 80px;
    font-size: 3em;
}

form {
    display: grid;
    row-gap: 10px;
    margin: 40px 20px;
}

input {
    height: 40px;
    border-radius: 10px;
    border-color: rgb(75, 75, 75);
    border: solid 1px rgb(75, 75, 75);
    background-color: #000046ee;

}


textarea {
    resize: none; 
    height: 80px;
    border-radius: 10px;
    border-color: rgb(75, 75, 75);
    background-color: #000046ee;
}

button {
    justify-self: center;
    padding: 7.5px 15px;
    border-radius: 15px;
    border: solid 1px rgb(75, 75, 75);
    background-color: #1CB5E0;
    cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    padding-left: 10px;
  }

.error {
    color: tomato;
}

/*------------------------------------------*/
@media only screen and (min-width: 760px) {
    form {
        justify-items: center;
    }

    form input, textarea {
        width: 600px;
    }

    .Form_title {
        font-size: 4em;
    }
}