
.Form_title {
    text-align: center;
    margin-top: 80px;
    font-size: 3em;
}

form {
    display: grid;
    row-gap: 10px;
    margin: 40px 20px;
}

input {
    height: 40px;
    border-radius: 10px;
    border-color: rgb(75, 75, 75);
    border: solid 1px rgb(75, 75, 75);
    color: rgb(41, 41, 41);

}

input[type=text], textarea {
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    padding-left: 10px;
  }
  
  input[type=text]:focus {
    border: 3px solid #555;
  }




textarea {
    resize: none; 
    height: 80px;
    border-radius: 10px;
}

button {
    justify-self: center;
    padding: 7.5px 15px;
    border-radius: 15px;
    border: solid 1px rgb(75, 75, 75);
    background-color: #000046;
    color: white;
    cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(46, 46, 46);
  }

.error {
    color: tomato;
}

/*------------------------------------------*/
@media only screen and (min-width: 760px) {
    form {
        justify-items: center;
    }

    form input, textarea {
        width: 600px;
    }

    .Form_title {
        font-size: 4em;
    }
}