.Buffer {
  height: 300px;
}
main {
  margin-top: 40px;
}
.App {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

#light {
  background-color: white;
}


#dark {
  background-color: #000046 ;
  color: white;
}

#dark nav {
  background-color: #000046 ;
}

#dark a {
  color: white;
}

#dark .Footer_container {
  border-top: solid 1px white;
}


h1 {
  margin: 0;
}


nav {
  border-bottom: solid 2px lightblue;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: white;
}

.Navbar, .Header_wrapper, .Skills, .Work-wrapper, .Form_container, footer{
  max-width: 800px;
  margin: auto;
  padding: 0 20px 0 20px;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar a {
  color: black;
  margin-right: 20px;
}

.Navbar_menu-items {
  display: none;
}

.Navbar_menu-items label {
  margin-right: 5px;
}

.Navbar_mobile-menu {
  display: grid;
  justify-content: center;
}

.Navbar_mobile-menu-items {
  color: rgb(87, 213, 255);
  font-size: 20px;
  line-height: 20px;
  padding: 10px;
  text-align: center;
}

.Header {
  background-color: #cacaca;
  background: #70e1f5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 20px 0 20px 0;
}

.Header_wrapper {
  grid-area: 1 / 1 / 2 / 2; 
  display: grid;
  justify-content: center;
  text-align: center;
}

.Header_title h1 {
  font-size: 30px;
  font-weight: 700;
}

.Header_animation-container {
  grid-area: 1 / 1 / 2 / 2; 
}

.Skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 10px;
  margin-top: 40px;
}

.Skills_item h1 {
  font-size: 20px;
   margin-bottom: 20px;
}

.Skills_item img {
  max-width: 60px;
}

.Skills_item {
  text-align: center;
  justify-self: center;
  justify-items: center;
}

.Skills_container {
  text-align: center;
}

.Skills_title-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.Skills_title {
  font-size: 32px;
  
}

.Work-wrapper {
  text-align: center;
  padding: 40px 0px;
}

.Work {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 20px;

}

.Work-heading {
  font-size: 36px;
  margin-bottom: 40px;
}

.Project {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  padding: 20px 0 20px 0;
  border: solid 1px #b4b4b4;
  border-radius: 5px;
  justify-items: center;
}

.Project:hover {
  background-color: #1cb5e050;
  box-shadow: 2px 2px #1CB5E0;
}

.Project a {
  color: rgb(31, 31, 31);
  font-size: 18px;
}

.List_flex-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.Project_list {
  margin: 0;
}
.Project_list li {
  font-size: 18px;
  text-align: left;
}



.Project_img {
  width: 100px;
  height: 100px;
  border-radius: 135px;
  justify-self: center;
  object-fit: cover;
  border: solid 1px #b4b4b4;
}



/*---------------- media queries @  -------------------------*/

@media only screen and (min-width: 760px) {
  .Navbar_menu-items {
    display: block;
  }

  .Navbar_burguer-menu {
    display: none;
  }

  .Navbar_mobile-menu {
    display: none;
  }

  .Header_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: ;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
  }

  .Header_imag-wrapper {
    justify-self: end;
  }

  .Header_title {
    grid-area: 1 / 1 / 2 / 3;
    
  }
  

  .Header_title h1 {
    font-size: 36px;
    text-align: start;
    
  }

  .Navbar_menu-items a {
    font-size: 20px;
  }

  .Skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    padding: 40px 0px;
  }

  .Skills_title {
    font-size: 46px;
  }

  .Work {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
      
  }

}